*{
  margin: 0;
  padding: 0;
}
.container{
  width: 90%;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
body{
  background: #FFFFFF;
}
@mixin between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin abunt {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@mixin flex {
  display: flex;
}
@mixin abount {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@mixin herre{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@mixin btm {
  display: flex;
  justify-content: center;

}
@mixin begin{
  display: flex;
  align-items: center;
  flex-direction: column;
}
@mixin mon {
  display: flex;
  justify-content: space-evenly;
}
@mixin xom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 30px 0 0;
}
@mixin jer{
  display: grid;
  width: 558px;
  grid-template-columns: 1fr 1fr;
  margin-left: 253px;
}
@mixin doc {
  display: flex;
  justify-content: space-evenly;
}
@mixin gool {
  display: flex;
  justify-content: space-around;
}
$coloWhi: #FF8A63;
$coloWhit: #45525B;
$coloWhite: #444444;
$colo: #FAFAFC;